{{!-- templates/actors/parts/subparts/backtype.hbs --}}

<div class="field background-type-field">
  <label>Background Type</label>
  <select name="system.details.backgroundType" data-dtype="String">
    {{selectOptions config.backgroundTypes selected=system.details.backgroundType}}
  </select>
</div>
