{{!-- templates/actors/parts/subparts/mopdrop.hbs --}}

<div class="field mark-field">
  <label>Mark of Purpose</label>
  <select name="system.details.markOfPurpose" data-dtype="String">
    {{selectOptions config.marksPurpose selected=system.details.markOfPurpose}}
  </select>
</div>

