{{!-- templates/actors/parts/subparts/rankdrop.hbs --}}

<div class="field rank-field">
  <label>Rank</label>
  <select name="system.details.rank" data-dtype="String">
    {{selectOptions config.ranks selected=system.details.rank}}
  </select>
</div>
