{{!-- templates/actors/parts/subparts/rankdrop.hbs --}}

<div class="field rank-field">
  <label>Rank</label>
  <select name="system.details.rank" data-dtype="String">
    {{#select system.details.rank}}
      {{#each config.ranks as |rank key|}}
        <option value="{{key}}">{{rank.label}}</option>
      {{/each}}
    {{/select}}
  </select>
</div>
