<form class="marked-sheet" autocomplete="off">

  {{!-- HEADER --}}
  {{> "systems/the-marked-system/templates/actors/parts/header.hbs"}}

  {{!-- Tabs --}}
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="main">Main</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="status">Status</a>
  </nav>

  <section class="sheet-body">

    <div class="tab" data-tab="main">
      <h2>Main Info</h2>
      <p>Put main fields here.</p>
    </div>

    <div class="tab" data-tab="attributes">
      {{> "systems/the-marked-system/templates/actors/parts/attributes.hbs" }}
    </div>

    <div class="tab" data-tab="status">
      {{> "systems/the-marked-system/templates/actors/parts/status.hbs" }}
    </div>

  </section>

</form>


