{{!-- templates/actors/parts/abilities.hbs --}}

<section class="abilities-section">
  <h2>Marks of Purpose</h2>

  <div class="marks-grid">
    {{> "systems/the-marked-system/templates/actors/parts/subparts/mopdrop.hbs"}}
  </div>
</section>
