{{!-- templates/actors/parts/information.hbs --}}

<section class="info-section">

  <h2>Information</h2>

  <hr>

  {{!-- =======================
       RACE INFORMATION
       ======================= --}}
  <h3>Race Description</h3>
  <div class="info-block">
    {{#if system.details.race}}
      {{!-- system.details.race holds the *key* (e.g. "draconian") --}}
      {{lookup config.raceDescriptions system.details.race}}
    {{else}}
      <em>Select a race to view its description.</em>
    {{/if}}
  </div>

  <hr>

  {{!-- =======================
       BACKGROUND SELECTION + INFO
       ======================= --}}
  <h3>Background</h3>

  <div class="info-background-row flexrow">
    {{!-- BACKGROUND TYPE DROPDOWN --}}
    {{> "systems/the-marked-system/templates/actors/parts/subparts/backtype.hbs"}}

    {{!-- BACKGROUND DROPDOWN --}}
    {{> "systems/the-marked-system/templates/actors/parts/subparts/backdrop.hbs"}}
  </div>

  <div class="info-block">
    {{#if system.details.background}}
      {{lookup config.backgroundDescriptions system.details.background}}
    {{else}}
      <em>Select a background to view its description.</em>
    {{/if}}
  </div>

</section>
